* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header {
    background-image: linear-gradient(180deg, rgba(19, 100, 179, 0.8220237924271271) 0%, rgba(33, 66, 122, 0.8382703423166141) 100%), url(https://i.pinimg.com/originals/c0/1f/70/c01f70946c9ae4f43aed4fa3ddf08023.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.container-fluid img {
    width: 200px;
    height: 70px;
}

.navbar-nav li {
    padding-left: 10px;      
 }

.navbar-nav li a {
    color: white;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
}

.navbar-nav li a:hover {
    color: rgb(66, 177, 232);
    text-decoration: underline;
    transition: 0.5s;
}

.dropdown-menu li a {
    color: rgb(14, 84, 66);
}

.title h1 {
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    text-align: center;
    padding-top: 40px;

}

/* About Us */

.about {
    background-image: url(https://media.gettyimages.com/photos/white-gray-cement-wall-texture-for-background-and-design-art-work-picture-id1157933525?b=1&k=20&m=1157933525&s=170667a&w=0&h=Xu_YAIQvQJ209mbTm7GTVhOUxlf_QaGLhPAB0xIf0hs=);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 35px;
    padding-left: 30px;

}

.image {
    background-image: url(https://www.merrittproperties.com/sites/default/files/idea-lab/39731838820_388ec53d31_k.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    min-height: 90vh;
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: right;
    
}

.description {
    background-image: url(https://media.gettyimages.com/photos/white-gray-cement-wall-texture-for-background-and-design-art-work-picture-id1157933525?b=1&k=20&m=1157933525&s=170667a&w=0&h=Xu_YAIQvQJ209mbTm7GTVhOUxlf_QaGLhPAB0xIf0hs=);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 580px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.content1 {
    font-size: 18px;
}
.content2 {
    font-size: 18px;
}
.content3 {
    color: rgb(30, 130, 137);
    font-size: 18px;
    font-weight: bold;
}

.badge img {
    width: 220px;
    height: 70px; 
    margin-left: 300px;   
}


/* footer */

.footer {
    background-image: linear-gradient(180deg, rgba(19, 100, 179, 0.8220237924271271) 0%, rgba(33, 66, 122, 0.8382703423166141) 100%), url(https://insights.gfk.com/hubfs/Auto%20Tech_2022.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;  
    background-position: center;
      
}

.us {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 13px rgba(0,0,0,0.6);
    padding: 30px 0;
}

.us h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}


.icon .bi {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}

@media screen and (max-width:1025px) {
   
    .image {
        width: auto;
      
        padding-top: 0;
        padding-right: 0;
    }
    .description {
        width: 100%;
        height: auto;
        
    }
    
}

@media screen and (max-width:500px) {
    .title h1 {
        font-size: 30px;
        padding-top: 60px;
    }
    .badge img {
        width: 220px;
        height: 70px; 
        margin-left: 0;   
    }
    .content1 {
        font-size: 15px;
    }
    .content2 { 
        font-size: 15px;
    }
    .content3 {  
        font-size: 15px;
      
    }
    .description {
        padding-left: 10px;
        padding-top: 0;
    }
    .container-fluid img {
        width: 150px;
        height: 50px;
    }
    .us p {
        font-size: 14px;
    }
    
}